<%- include('partials/header') %>

  <main>

    <div class="about-container">

      <section class="container">
        <h1>À propos de nous</h1>
        <p>Jean et Jacques Pepper, deux frères animés par une passion commune pour le café, sont les fondateurs de notre boutique. Leur expertise approfondie et leur amour inébranlable pour cette boisson raffinée les ont conduits à créer un espace unique, où chaque tasse raconte une histoire, et où chaque grain est soigneusement sélectionné pour vous offrir une expérience café incomparable.</p>
        <p>Dans notre boutique, nous croyons que le café n'est pas juste une boisson, mais une véritable expérience sensorielle, un voyage à travers les arômes et les saveurs du monde entier. Chaque visite est l'occasion de découvrir, d'apprendre et de savourer un café d'exception.</p>
      </section>
    
      <section class="container">
        <h2>L'ambiance de notre boutique</h2>
        <p>Bienvenue dans notre havre de paix, où chaque détail a été pensé pour éveiller vos sens. En entrant, vous êtes immédiatement accueilli par une explosion d'arômes envoûtants de café fraîchement moulu, créant une atmosphère chaleureuse et accueillante. Les lumières tamisées, les murs en bois et les photographies captivantes des plantations de café invitent à la détente et à la contemplation.</p>
        <p>Nos étagères en bois, soigneusement agencées, exposent une sélection de grains de café provenant des quatre coins du monde. Chaque sac raconte l’histoire d’un terroir unique, de producteurs passionnés et de méthodes de culture respectueuses de l'environnement. Vous serez transporté dans un univers où chaque tasse est une exploration sensorielle.</p>
        <p>Au-delà du café, notre boutique est un lieu de rencontre. Le cliquetis des tasses, les discussions animées entre amis et les éclats de rire se mêlent à la symphonie des machines à expresso, créant une ambiance conviviale et détendue. Nos coins cosy avec des fauteuils et des canapés invitent à une pause bien méritée. Que vous soyez seul pour savourer votre café ou accompagné pour une discussion amicale, nous veillons à ce que chaque instant passé chez nous soit un moment de bonheur.</p>
        <p>Notre équipe, passionnée et experte, est toujours disponible pour partager ses connaissances, vous conseiller sur les meilleures variétés et vous guider dans le choix du café parfait, adapté à vos goûts et à vos envies.</p>
      </section>
    
      <section class="container">
        <h2>Notre engagement éthique</h2>
        <p>Chez nous, chaque grain de café est soigneusement sélectionné pour vous offrir le meilleur. Nous travaillons en étroite collaboration avec des producteurs de café locaux, garantissant une relation respectueuse et équitable. Nous privilégions des pratiques durables, non seulement pour préserver la planète, mais aussi pour soutenir les communautés agricoles.</p>
        <p>Notre engagement envers le commerce équitable se reflète dans chaque tasse que nous servons, contribuant à un système plus juste et responsable. En dégustant nos cafés, vous soutenez directement les producteurs et vous participez à un mouvement vers un avenir plus durable.</p>
        <p>Aujourd’hui, grâce à l’expertise de Jean et Jacques, leur rêve est devenu réalité. Leur boutique est devenue une référence pour les amateurs de café, un lieu où le café se transforme en une expérience inoubliable. Nous vous invitons à venir découvrir nos différentes variétés, à explorer les saveurs subtiles et à plonger dans l’univers fascinant du café de qualité.</p>
        <p>Que vous soyez un connaisseur ou un néophyte, nous sommes là pour vous guider, vous conseiller et vous faire vivre un voyage sensoriel où chaque tasse est une aventure nouvelle. Venez savourer un café d'exception, et laissez-vous emporter par l'art de vivre à la Pepper.</p>
      </section>
      
    </div>
  </main>

  <%- include('partials/footer') %>