</head>

<body>

  <header>
    <nav class="nav-container">
      <a class="logo-link" href="/"><img class="logo" src="/img/logo.svg" alt="Logo oCoffee">oCoffee</a>
      <button id="burger-menu" aria-label="Burger Menu">
        <span class="burger-visual"></span>
        <span class="burger-visual"></span>
        <span class="burger-visual"></span>
      </button>
      <ul id="nav-links" class="hidden" aria-label="Navigation Links">
        <% if (session.user && session.user.role==="admin" ) { %>
          <li><a class="nav-links-element" href="/admin/manage">Gestion - Admin</a></li>
          <% } else if (session.user && session.user.role==="customer" ) { %>
            <li><a class="nav-links-element" href="/profile">Profil</a></li>
            <% } %>
              <li><a class="nav-links-element" href="/">Accueil</a></li>
              <li><a class="nav-links-element" href="/catalogue">Catalogue</a></li>
              <li><a class="nav-links-element" href="/find-us">Nous trouver</a></li>
              <% if (session.user) { %>
                <li><a class="nav-links-element" href="/logout">Déconnexion</a></li>
                <% } else { %>
                  <li><a class="nav-links-element" href="/login">Connexion</a></li>
                  <% } %>
      </ul>
    </nav>
  </header>