<%- include('partials/header') %>

  <main>

    <h1 class="margin-h1"> Où sommes nous ? </h1>
    <div id="map">
      <button id="map-btn">Position Initiale</button>
    </div>

    <table class="schedule-table">
      <thead>
        <tr>
          <th>Jours d'ouverture</th>
          <th>Horaires d'ouverture</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Lundi</td>
          <td>09h - 18h</td>
        </tr>
        <tr>
          <td>Mardi</td>
          <td>09h - 18h</td>
        </tr>
        <tr>
          <td>Mercredi</td>
          <td>09h - 18h</td>
        </tr>
        <tr>
          <td>Jeudi</td>
          <td>09h - 18h</td>
        </tr>
        <tr>
          <td>Vendredi</td>
          <td>09h - 18h</td>
        </tr>
        <tr>
          <td>Samedi</td>
          <td>10h - 20h</td>
        </tr>
      </tbody>
    </table>
  </main>
  <%- include('partials/footer') %>