<%- include('partials/head') %>
<%- include('partials/header') %>

<main>
  <div class="container error">
  <h2>Erreur 500</h2>
  <div class="text-section">
  <p>Problème interne au serveur, veuillez nous excuser pour la gêne occasionnée</p>
  <a class="global-link" href="/">Retourner boire un café</a>
  </div>
  </div>
</main>


<%- include('partials/footer') %>