<%- include('partials/head') %>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin="" defer></script>
  <script src="/js/map.js" defer></script>
<%- include('partials/header') %>

  <main>

    <h1 class="margin-h1"> Où sommes nous ? </h1>
    <div id="map">
      <button id="map-btn">Position Initiale</button>
    </div>

    <table class="schedule-table">
      <thead>
        <tr>
          <th>Jours d'ouverture</th>
          <th>Horaires d'ouverture</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Lundi</td>
          <td>09h - 18h</td>
        </tr>
        <tr>
          <td>Mardi</td>
          <td>09h - 18h</td>
        </tr>
        <tr>
          <td>Mercredi</td>
          <td>09h - 18h</td>
        </tr>
        <tr>
          <td>Jeudi</td>
          <td>09h - 18h</td>
        </tr>
        <tr>
          <td>Vendredi</td>
          <td>09h - 18h</td>
        </tr>
        <tr>
          <td>Samedi</td>
          <td>10h - 20h</td>
        </tr>
      </tbody>
    </table>
  </main>
  <%- include('partials/footer') %>