<%- include('partials/header') %>

  <main>

    <h1 class="margin-h1">Login</h1>

    <% if (isAllowed) { %>
      <div class="notification-allowed">Bonjour <%= session.user.username.replace(/\b\w/, x => x.toUpperCase()) %></div>
      <% } else if (isDenied) { %>
       <div class="notification-denied">Informations incorrectes</div>
       <% } else if (isValid) { %>
        <div class="notification-valid">Bienvenue !<br> Connexion établie</div>
       <% } else if (isTaken) { %>
        <div class="notification-taken">Nom d'utilisateur non disponible</div>
       <% } else %>
        <div class="form-container">
          <form class="login-form" action="/login" method="POST">
            <h2>Connectez-vous</h2>
            <label for="username">
              <input type="text" name="username" placeholder="Nom d'utilisateur" required>
            </label>
            <label for="password">
              <input type="password" name="password" placeholder="Mot de passe" required>
            </label>
            <button name="action" value="connect">Valider</button>
          </form>

          <form class="login-form" action="/login" method="POST">
            <h2>Enregistrez-vous</h2>
            <label for="username">
              <input type="text" name="username" placeholder="Nom d'utilisateur" required>
            </label>
            <label for="password">
              <input type="password" name="password" placeholder="Mot de passe" required>
            </label>
            <button name="action" value="register">Valider</button>
          </form>
        </div>
      </div>

  </main>

  <%- include('partials/footer') %>